<div class="container">
	<div class="map">
    <iframe width="100%" height="650px" frameborder="0" style="border:0" allowfullscreensrc="https://maps.google.com/maps?q=hyderabad&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
	</div>
	<div class="contact-form">
		<h1 class="title">Contact Us</h1>
		<h2 class="subtitle">We are here assist you.</h2>
		<form action="">
      <div class="form-group">
         <label for="Name"><strong>Name</strong></label>
         <input type="text" class="form-control" id="Name" placeholder="Your Name">
       </div>
       <div class="form-group">
          <label for="e-mail"><strong>Email</strong></label>
          <input type="email" class="form-control" id="e-mail" placeholder="Your E-mail Address">
        </div>
        <div class="form-group">
           <label for="phone"><strong>Phone</strong></label>
           <input type="tel" class="form-control" id="phone" placeholder="Your Phone Number">
         </div>
         <div class="form-group">
             <label for="msg-box"><strong>Message</strong></label>
             <textarea class="form-control" id="msg-box" rows="3"></textarea>
         </div>


			<button class="btn btn-defult btn-send">Get a Call Back</button>
		</form>
	</div>
</div>
