<div class="container" >
	<div class="row">
		<div class="col">
			<h1 class="title text-center">CONTACT US</h1>

		</div>
	</div>
	<div class="row">
		<div class="map col-xl-6 col-lg-6 col-md-12 col-sm-12  pt-5" >
			<iframe width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=17.3616079,78.4746286&amp;q=Hyderabad+(Pavi)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"></iframe>
		</div>
		<div class="contact-form col-xl-5 col-lg-5 col-md-12 col-sm-12  " >
			<div class="form-section" [hidden]="!thankSection">
				<h2 class="subtitle">We are here assist you.</h2>
				<form action="">
					<div class="form-group">
						<label for="Name"><strong>Name</strong></label>
						<input #name type="text" class="form-control" id="Name" placeholder="Your Name">
					</div>
					<div class="form-group">
						<label for="e-mail"><strong>Email</strong></label>
						<input #email required type="email" class="form-control" id="e-mail" placeholder="Your E-mail Address">
					</div>
					<div class="form-group">
						<label for="phone"><strong>Phone</strong></label>
						<input #phone type="tel" class="form-control" id="phone" placeholder="Your Phone Number">
					</div>
					<div class="form-group">
						<label for="msg-box"><strong>Message</strong></label>
						<textarea #msg class="form-control" id="msg-box" rows="3"></textarea>
					</div>


					<button class="btn btn-defult btn-send" (click)="sendMsg(name.value,  email.value , phone.value , msg.value)">Get a Call Back</button>
				</form>
			</div>
			<div class="thank-section" [hidden]="thankSection" >
				<h2 class="text-center">Thank you. We will get back to you soon.</h2>

				<div class="btn-group btn-home-link" >
					<a  [routerLink]="['/Home']" class="btn btn-lg btn-primary btn-link">Home</a>
				</div>
			</div>
		</div>

	</div>

</div>
