<footer>
<div class="container-fluid" id="footer">


                  <br>

                <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">

                            <div class="footer-logo">
                                    <h5>Pavi</h5>
                            </div>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>

                                    <div class="footer-icons text-left">
                                          <ul>

                                           <li>
                                               <a href="#"><i class="fa fa-facebook"></i></a>
                                          </li>
                                           <li>
                                               <a href="#"><i class="fa fa-twitter"></i></a>
                                          </li>
                                          <li>
                                               <a href="#"><i class="fa fa-linkedin"></i></a>
                                         </li>

                                          </ul>
                                    </div>

                        </div>


                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mx-auto my-2 text-left" id="footer-pages">
                            <h5>PAGES</h5>
                            <a href="#">Home</a><br>
                            <a href="#">Market Insights</a><br>
                            <a href="#">Methodology</a><br>
                            <a href="#">Blog</a><br>
                            <a href="#">About</a><br>
                            <a href="#">Contact</a>
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                            <h5>CONTACT</h5>
                            <p> Connect with us through
                            </p>
                                <div class="footer-contacts">
                                    <p><span><i class="fa fa-phone"></i></span> +91 9123456789</p>
                                    <p><span><i class="fa fa-envelope"></i></span> contact@example.com</p>
                                  <p><span><i class="fa fa-map-marker"></i></span> Hno.10, Doveton Road, Bolarum</p>

                                </div>
                        </div>

                         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2 left" id="subscribe-sect">
                             <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
                             <p>Get weekly news updates on the startup ecosystem.</p>

                              <form class="form-inline">
                                <div class="input-group mx-auto">
                                  <select class="form-control" id="select">
                                    <option>All Industries</option>
                                    <option>Financial Services</option>
                                    <option>Healthcare</option>
                                    <option>Aerospace and Defence</option>
                                    <option>Automotive</option>
                                    <option>Chemicals</option>
                                    <option>ICT</option>
                                    <option>Power and Mining</option>
                                    <option>Oil and Gas</option>
                                    <option>Industrial Manufacturing</option>
                                    <option>Telecom</option>
                                  </select>
                                  <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                                  <div class="input-group-btn">
                                    <button type="button" class="btn btn-default">Sign Up</button>
                                  </div>
                                </div>
                              </form>

                        </div>


                </div>


                <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="copyright text-center">
                                            <p> &copy; 2018 Copyright <strong>Pavi</strong>. All Rights Reserved</p>
                                </div>
                        </div>
                </div>


    </div>

</footer>
