<footer>
<div class="container-fluid" id="footer">


                  <br>

                <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">

                            <div class="footer-logo">
                                    <a [routerLink]="['/Home']">
                                      <!-- <h5 >Epsilon</h5> -->
                                      <img src="assets/images/logo2.png" class="pb-3" style="transform: translate(-0.9em,0);">

                                    </a>

                            </div>
                              <p>Epsilon is a market research firm focused on the startup ecosystem. Epsilon provides market research along with investment trend analysis across different sectors based on your requirement so that, you can save valuable time and make informed decisions.</p>

                                    <div class="footer-icons text-left">
                                          <ul>

                                           <li>
                                               <a href="#"><i class="fa fa-facebook"></i></a>
                                          </li>
                                           <li>
                                               <a href="#"><i class="fa fa-twitter"></i></a>
                                          </li>
                                          <li>
                                               <a href="https://www.linkedin.com/mwlite/company/35475137"><i class="fa fa-linkedin"></i></a>
                                         </li>

                                          </ul>
                                    </div>

                        </div>


                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mx-auto my-2 text-left" id="footer-pages">
                            <h5><strong>PAGES</strong></h5>
                            <a [routerLink]="['/Home']">Home</a><br>
                            <a [routerLink]="['/uc/insights']">Market Insights</a><br>
                            <a [routerLink]="['/uc/blog']">Blog</a><br>
                            <a [routerLink]="['about']">About</a><br>
                            <a [routerLink]="['contact']">Contact</a>
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                            <h5><strong>CONTACT</strong></h5>
                            <p> Connect with us through
                            </p>
                                <div class="footer-contacts">
                                    <p><span><i class="fa fa-phone"></i></span> +91 9123456789</p>
                                    <p><span><i class="fa fa-envelope"></i></span> contact@example.com</p>
                                  <p><span><i class="fa fa-map-marker"></i></span> Hno.10, Doveton Road, Bolarum</p>

                                </div>
                        </div>

                         <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2 left" id="subscribe-sect">
                             <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
                             <p>Get weekly news updates on the startup ecosystem.</p>

                              <form class="form-inline">
                                <div class="input-group mx-auto">
                                  <select class="form-control" id="select">
                                    <option>All Industries</option>
                                    <option>Financial Services</option>
                                    <option>Healthcare</option>
                                    <option>Aerospace and Defence</option>
                                    <option>Automotive</option>
                                    <option>Chemicals</option>
                                    <option>ICT</option>
                                    <option>Power and Mining</option>
                                    <option>Oil and Gas</option>
                                    <option>Industrial Manufacturing</option>
                                    <option>Telecom</option>
                                  </select>
                                  <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                                  <div class="input-group-btn">
                                    <button type="button" class="btn btn-default">Sign Up</button>
                                  </div>
                                </div>
                              </form>
                            </div> -->



                </div>


                <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="copyright text-center">
                                            <p> &copy; 2018 Copyright <strong>Epsilon Insights</strong>. All Rights Reserved</p>
                                </div>
                        </div>
                </div>


    </div>

</footer>
