<div class="reportView report-card">

  <div class="media ">
    <img class="align-self-center card-img cardImg mr-3" src="{{reportData.imgUrl}}" alt="Generic placeholder image">
    <div class="container reportPdfGrid">
    <div class="media-body">
       <p class="card-text"><small class="text-muted">Pubished: xyz</small></p>
      <h2 class="mt-4 text-center ">{{reportData.title}}</h2>

    </div>

    <div class="row mt-1">
      <div class="col-md-6">
          <button type="button" class="btn btn-block btn-primary" >Buy report</button>

        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-primary" >Download Sample Report</button>

        </div>
    </div>

  </div>
</div>

  <div class="tables pt-5 pb-5">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" (click)="summaryContentToDisplay('summary')"  [routerLinkActive]="['active']" [routerLink]="['./report-summary']"  role="tab" aria-controls="nav-home" >Home</a>
        <a class="nav-item nav-link" id="nav-profile-tab" (click)="summaryContentToDisplay('table-content')" [routerLinkActive]="['active']" [routerLink]="['./table-content']"  role="tab" aria-controls="nav-profile" >Profile</a>
      </div>
    </nav>
    <div data-spy="scroll" class="tab-content" id="nav-tabContent">
      {{summaryContentData}}
    </div>
  </div>
</div>
