<!--<div id="about-banner">
    <h3>ABOUT</h3>
</div>-->

<div class="row container mx-auto" id="about-content">
    <div class="row">

        <div class="col-sm-8">

            <h2>ABOUT</h2><br>
          <p><strong>Epsilon</strong> is a market research firm focused on the startup ecosystem. We understand your need for market sizing,
              segmentation and analysis as well as investment trends for your portfolio stratergy. Epsilon provides market
              research along with investment trend analysis across different sectors based on your requirement so that, you
              can save valuable time and make informed decisions.</p>
          <br><button [routerLink]="['/contact']" class="btn btn-default">Get in Touch</button>
        </div>
        <div class="col-sm-4 center-block" id="image-div">
          <img class="img-responsive rounded float-right" src="assets/images/about-image.png">
        </div>
    </div>
        <section id="team" class="  pb-5">
    <div class="container">
        <h1 class="section-title h1">OUR TEAM</h1>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/images/team/pavan.png" alt="card image"></p>
                                    <h4 class="card-title">Pavan Kumar GS</h4>
                                    <p class="card-text">-Consultant, Operations</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Pavan Kumar GS</h4>
                                    <p class="card-text">Mechanical Engineering Graduate, Worked around various domains like design & maintenance, Educations, and construction Technology Enthusiast</p>
                                    <ul class="list-inline">
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                        <li>
                                          <a href="https://www.linkedin.com/in/pavan-kumar-gs-30072b5b/"><i class="fa fa-linkedin" ></i></a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/images/team/srikar.png" alt="card image"></p>
                                    <h4 class="card-title">Srikar R</h4>
                                    <p class="card-text">- Founder and Content Lead</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Srikar R</h4>
                                    <p class="card-text">Electrical Engineering Graduate, Worked in Semiconductor and market research industries, Market Research Expert, Startup enthusiast</p>
                                    <ul class="list-inline">
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li> -->
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li> -->
                                        <li class="list-inline-item" >
                                          <a href="https://www.linkedin.com/in/srikar-rallabandi-8332b265/" class="social-icon text-xs-center" target="_blank">
                                            <i class="fa fa-linkedin"></i>
                                          </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/images/team/omkar1.jpg" alt="card image"></p>
                                    <h4 class="card-title">Omkar Nath</h4>
                                    <p class="card-text">- Marketing and Sales Lead</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Omkar Nath</h4>
                                    <p class="card-text">Electronics Engineering Graduate,Teacher, Founder of Silikon Innovations and Vidya Foundation</p>
                                    <ul class="list-inline">
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                        <li class="list-inline-items">
                                          <a href="https://www.linkedin.com/in/mummadisetty-omkarnath-764b9449/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/images/team/thrilok2.jpg" alt="card image"></p>
                                    <h4 class="card-title">Thrilok Kumar</h4>
                                    <p class="card-text">- Teachnology Lead</p>
                                    <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Thrilok Kumar</h4>
                                    <p class="card-text">Full-Stack Developer, Co-Founder Silikon Innovations, Participated in Under 17 Google code-IN.</p>
                                    <ul class="list-inline">
                                        <!-- <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li> -->
                                        <li class="list-inline-items">
                                          <a href="https://www.linkedin.com/in/thrilok-kumar-86259a91/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
      </div>

<!--
    <div class="row container mx-auto" id="social-icons">

      <div class="square">
        <div class="icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>

      <div class="square">
          <div class="icons">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </div>

        <div class="square">
            <div class="icons">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          </div>

    </div>
  -->
