<!--<div id="about-banner">
    <h3>ABOUT</h3>
</div>-->

<div class="row container mx-auto" id="about-content">
    <div class="row">

        <div class="col-sm-8">

            <h2>ABOUT</h2><br>
          <p><strong>Epsilon</strong> is a market research firm focused on the startup ecosystem. We understand your need for market sizing,
              segmentation and analysis as well as investment trends for your portfolio stratergy. Epsilon provides market
              research along with investment trend analysis across different sectors based on your requirement so that, you
              can save valuable time and make informed decisions.</p>
          <br><button [routerLink]="['/contact']" class="btn btn-default">Get in Touch</button>
        </div>
        <div class="col-sm-4 center-block" id="image-div">
          <img class="img-responsive rounded float-right" src="assets/images/about-image.png">
        </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="content">

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">

                  <h1>OUR TEAM</h1>

                </div>
              </div>
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                  <!-- team-img -->
                  <div class="team-block">
                    <div class="team-img">
                      <img src="assets/images/team/pavan.png" alt="">
                      <div class="team-content">
                        <h4 class="text-white mb0">Pavan Kumar GS</h4>
                        <p class="team-meta">- Consultant, Operations and Process Optimisation</p>
                      </div>
                      <div class="overlay">
                        <div class="text">
                          <h4 class="mb0 text-white">Pavan Kumar GS</h4>
                          <p class="mb30 team-meta">- Consultant, Operations and Process Optimisation</p>
                          <p class="desp">
                          Mech Engg Graduate
                          <br>Asst Exec Engineer, State Engg Services, Telangana
                          <br>Worked around various domains like design & maintenance, Educations, and construction
                          <br>Technology Enthusiast</p>
                          <div class="icons">
                            <a href="https://www.linkedin.com/in/pavan-kumar-gs-30072b5b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                  <!-- team-img -->
                  <div class="team-block">
                    <div class="team-img">
                      <img src="assets/images/team/omkar1.jpg" alt="">
                      <div class="team-content">
                        <h4 class="text-white mb0">Omkar Nath</h4>
                        <p class="team-meta">- Marketing & Sales Lead</p>
                      </div>
                      <div class="overlay">
                        <div class="text">
                          <h4 class="mb0 text-white">Omkar Nath</h4>
                          <p class="mb30 team-meta">- Marketing & Sales Lead</p>
                          <p class="desp">Electronics Engineering Graduate,Teacher
                            <br>Founder of Silikon Innovations and Vidya Foundation</p>
                          <!-- <div class="icons">
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                          </div> -->
                          <div class="icons">
                            <a href="https://www.linkedin.com/in/mummadisetty-omkarnath-764b9449/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                  <!-- team-img -->
                  <div class="team-block">
                    <div class="team-img">
                      <img src="assets/images/team/srikar.png" alt="" class="img-fluid">
                      <div class="team-content">
                        <h4 class="text-white mb0">Srikar R</h4>
                        <p class="team-meta">- Co-Founder, Head of Content</p>
                      </div>
                      <div class="overlay">
                        <div class="text">
                          <h4 class="mb0 text-white">Srikar R</h4>
                          <p class="mb30 team-meta">- CO-Founder, Head of Content</p>
                          <p class="desp">Electrical Engineering Graduate
                              <br>3 years of working experience in Semiconductor Industry
                              <br>Market Research Expert
                              <br>Startup enthusiast</p>
                          <!-- <div class="icons">
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                          </div> -->
                          <div class="icons">
                            <a href="https://www.linkedin.com/in/srikar-rallabandi-8332b265/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.team-img -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                  <!-- team-img -->
                  <div class="team-block">
                    <div class="team-img">
                      <img src="assets/images/team/thrilok1.jpg" alt="" class="img-fluid">
                      <div class="team-content">
                        <h4 class="text-white mb0">Thrilok Kumar</h4>
                        <p class="team-meta">- Technology Lead</p>
                      </div>
                      <div class="overlay">
                        <div class="text">

                          <h4 class="text-white mb0">Thrilok Kumar</h4>
                          <p class="mb30 team-meta">- Technology Lead</p>
                          <p class="desp">Full-Stack Developer
                          <br>Co-Founder Silikon Innovations
                          <br>Participated in Under 17 Google code-IN</p>
                          <div class="icons">
                            <a href="https://www.linkedin.com/in/thrilok-kumar-86259a91/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.team-img -->
                <!-- /.team-img -->
              </div>
          </div>
          </div>
        </div>
      </div>

<!--
    <div class="row container mx-auto" id="social-icons">

      <div class="square">
        <div class="icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>

      <div class="square">
          <div class="icons">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </div>

        <div class="square">
            <div class="icons">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          </div>

    </div>
  -->
