<!--<div id="about-banner">
    <h3>ABOUT</h3>
</div>-->

<div class="row container mx-auto" id="about-content">
    <div class="row">

        <div class="col-sm-8">

            <h3>ABOUT</h3><br>
          <p>Pavi is a market research firm focused on the startup ecosystem. We understand your need for market sizing,
              segmentation and analysis as well as investment trends for your portfolio stratergy. Pavi provides market
              research along with investment trend analysis across different sectors based on your requirement so that, you
              can save valuable time and make informed decisions.</p>
          <br><button class="btn btn-default">Get in Touch</button>
        </div>
        <div class="col-sm-4 center-block" id="image-div">
          <img class="img-responsive rounded float-right" src="../../../assets/images/icons/about-image.png">
        </div>
      </div>
    </div>

    <div>

</div>

<!--
    <div class="row container mx-auto" id="social-icons">

      <div class="square">
        <div class="icons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>

      <div class="square">
          <div class="icons">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </div>

        <div class="square">
            <div class="icons">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          </div>

    </div>
  -->
