<!--LANDING PAGE AREA-->

            <!--Landing page image-->
                <div  class="home-inner">

                    <!--background-image-->

                </div>


        <!--Landing page caption-->

            <div class="caption center-block text-center">
                    <h3>MAKE INFORMED DECISIONS.</h3>

            </div>



        <!--Search box
            <div class="row justify-content-md-center px-5" id="searchdiv">

                <div class="col-lg-4 col-md-4 col-sm6">

                    <div class="input-group" id="search-bar">

                        <input type="text" class="form-control" placeholder="Search Reports...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" id="search-button" type="submit"> GO </button>
                            </span>
                   </div>

                 </div>
            </div>-->

            <!--Caption under search-box-->
             <div class="caption-under center-block text-center">
             <!--<h3>Build your Portfolio Stratergy on the Framework of our Research.</h3>-->
             <h3>Market Research for VCs and PEs.</h3>
            </div>


  <!--INDUSTRIES SECTION-->
      <div class="container-fluid text-center" id="industries">

              <h3>INDUSTRIES TRACKED</h3>

              <br>

            <div class="row">

                    <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/finance.png" alt="">
                        <h5>Financial Services</h5>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/healthcare.png" alt="">
                        <h5>Healthcare</h5>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/paper-plane.png" alt="">
                        <h5>Aerospace and Defence</h5>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/steering-wheel.png" alt="">
                        <h5>Automotive</h5>

                    </div>

                    <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/chemicals.png" alt="">
                        <h5>Chemicals</h5>
                    </div>


            </div>


            <div class="row">

                    <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/ict.png" alt="">
                        <h5>Information and Communications Technology</h5>

                    </div>

                     <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/power&mining.png" alt="">
                        <h5>Power and Mining</h5>

                    </div>

                     <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/oil&gas.png" alt="">
                        <h5>Oil and Gas</h5>

                    </div>

                     <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/industrial_manufacturing.png" alt="">
                        <h5>Industrial Manufacturing</h5>

                    </div>

                     <div class="col-lg-2 col-md-2 col-sm12 - col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/telecom.png" alt="">
                        <h5>Telecom</h5>

                    </div>

            </div>


      </div><!--End of Industries tracked section-->



<!-- Reports Thumbnail Carousel ---------->
<div class="container-fluid center-block text-center" hidden=true id="product-slider">
  <h3>FEATURED SECTOR REPORTS</h3>
  <br>


  <div class="item active center-block text-center mx-auto"><!--item2 start-->



    <owl-carousel
    [options]="reportCarousel"
    [items]="images"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let image of images;let i = index">
        <div class="card"><!--card start-->

          <img class="card-img-top img-responsive" src="reports/images/ai_in_fintech.jpg" alt="Card image cap AI in Fintech">

          <div class="card-body">
            <h5 class="card-title">{{image.title}}</h5>
            <p class="card-text"><small class="muted">{{image.text}}</small></p>
            <a href="#" class="btn btn-default">{{i}}</a>

          </div>

        </div><!--card end-->
      </div>
    </owl-carousel>
  </div>

  <br>

  <a href="#" class="btn btn-default">Browse All Insights</a>

</div>

<!--What we do-->
<div class="container-fluid text-center" id="what-we-do">

  <h3>What we do?</h3>

  <br>

<div class="row">

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
            <img class="img-responsive" src="{{iconPath}}/business_report.png" alt="">
            <h5>MARKET RESEARCH</h5>
            <p>Market Sizing, Segmentation, Trends and Competitive Landscape Analysis.</p>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
          <img class="img-responsive" src="{{iconPath}}/investment_analysis.png" alt="">
          <h5>INVESTMENT TREND ANALYSIS</h5>
          <p>Tracking Enterpreneur Activity, Funding Activity, Investment Trends and Unicorn Profiling.</p>

      </div>

</div>

</div>

<!--Why us-->
<div class="container-fluid text-center" id="why-us">

              <h3>Why us?</h3>

              <br>

            <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/data.png" alt="">
                        <h5>TAILORING DATA ACCORDING TO YOUR NEEDS</h5>
                        <p>Market specific reports with personalized data analysis to suit your Portfolio.</p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/research.png" alt="">
                        <h5>YOUR ONE-STOP PLATFORM</h5>
                        <p>Aligning Market Research with Investment Analysis </p>

                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                        <img class="img-responsive" src="{{iconPath}}/360.png" alt="">
                        <h5>360 DEGREE VISION OF STARTUP ECOSYSTEM</h5>
                        <p>We track all the data you need to make informed decisions.</p>

                    </div>

            </div>

            <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                        <img class="img-responsive pb-1" src="{{iconPath}}/excel.png" alt="">
                        <h5>DATA IN EXCEL</h5>
                        <p>Data from the study is provided with financial indicators in an excel spreadsheet.</p>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                         <img class="img-responsive" src="{{iconPath}}/call.png" alt="">
                        <h5>ONE CALL AWAY</h5>
                        <p>We are always available to address your requirement.</p>

                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mx-auto my-2">
                         <img class="img-responsive" src="{{iconPath}}/support.png" alt="">
                        <h5>POST PURCAHSE SUPPORT</h5>
                        <p>6 months dedicated analyst support regarding any queries after purchase of report.</p>

                    </div>

            </div>

</div>


<!--Featured Blog Posts-->

  <div class="container-fluid" id="blog-post-slider" hidden=true>
    <h3 class="text-center">LATEST NEWS FROM OUR BLOG</h3>
<br>
        <div class="owl-carousel owl-theme" id="blog-jquery-handle">

            <div class="item active mx-auto"><!--item1 start-->

                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-default">Read more</a>
                      </div>
                    </div>
                </div>

            </div><!--item1 end-->

            <div class="item mx-auto"><!--item2 start-->

                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-default">Read more</a>
                      </div>
                    </div>
                </div>

            </div><!--item2 end-->

            <div class="item mx-auto"><!--item3 start-->

                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-default">Read more</a>
                      </div>
                    </div>
                </div>

            </div><!--item3 end-->

            <div class="item mx-auto"><!--item4 start-->

                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-default">Read more</a>
                      </div>
                    </div>
                </div>

            </div><!--item4 end-->


        </div>

       <br>

      <div class="text-center"><a href="#" class="btn btn-default center">Explore Blog</a></div>

</div>


<!--CONSULTATION SECTION-->
  <div class="container-fluid center-block text-center" id="consult-sect">

        <h3>LEAVE A MESSAGE</h3>
        <p>Let us know about your requirement.</p>
        <p>Leave a message and we'll get back to you as soon as possible.</p>
        <form>
        <div class="row">

                <div class="col col-lg-5 col-md-5 col-sm-10 mx-auto text-left">

                             <div class="form-group">
                                <label for="Name1"><strong>Name</strong></label>
                                <input #name type="text" class="form-control" id="Name1" placeholder="">
                              </div>


                              <div class="form-group">
                                <label for="Email1"><strong>Email address</strong></label>
                                <input #email type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>

                 </div>


                 <div class="col col-lg-5 col-md-5 col-sm-10 mx-auto text-left">

                            <div class="form-group">
                                <label for="msg-box"><strong>Message</strong></label>
                                <textarea #msg class="form-control" id="msg-box" rows="3"></textarea>
                            </div>

                 </div>


                </div>

                <button type="submit" (click)="sendMsg(name.value , email.value , 'from landing' , msg.value)" class="btn btn-primary">SEND MESSAGE</button>
      </form>

      <!--  </div>
        <form class="form-inline">
            <div class="input-group mx-auto">
              <select class="form-control" id="select">
                <option>All Industries</option>
                <option>Financial Services</option>
                <option>Healthcare</option>
                <option>Aerospace and Defence</option>
                <option>Automotive</option>
                <option>Chemicals</option>
                <option>ICT</option>
                <option>Power and Mining</option>
                <option>Oil and Gas</option>
                <option>Industrial Manufacturing</option>
                <option>Telecom</option>
              </select>
              <input type="email" class="form-control" size="50" placeholder="Email Address" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">Subscribe</button>
              </div>
            </div>
          </form>-->

</div>
